altair==6.0.0
anywidget==0.9.21
shiny==1.5.1
shinywidgets==0.7.1
pandas==3.0.1
vl-convert-python==2.0.0rc1
chatlas==0.15.2
python-dotenv==1.2.2
querychat==0.5.1
ibis-framework[duckdb]==12.0.0
duckdb==1.4.4