pandas==3.0.2
numpy==2.4.3
duckdb==1.5.2
langchain==1.2.15
nltk==3.9.4
shiny==1.4.0
faiss-cpu==1.10.0
python-dotenv==1.2.2
dotenv==0.9.9
rank_bm25==0.2.2
langchain_community==0.4.1
langchain_huggingface==1.2.2
sentence_transformers==5.4.1